mcp[cli]
uvicorn[standard]
pydantic
python-dotenv
aiosqlite
sqlalchemy
greenlet
rapidfuzz
black


langgraph
langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
faiss-cpu
pymongo